<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Опрос</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="topbar">
            <div class="search">🔍 Поиск</div>
            <div class="logo-text">POP MART</div>
            <div class="avatar">👤</div>
        </div>
    </header>
    <main class="music-choice">
        <h1>Какой музыкальный жанр вам ближе?</h1>
        <div class="music-options">
            <a href="/question3?genre=джаз" class="music-card">
                <img src="/static/джаз.jpg" alt="Джаз">
                <h2>Джаз</h2>
            </a>
            <a href="/question3?genre=классика" class="music-card">
                <img src="/static/классика.jpg" alt="Классика">
                <h2>Классика</h2>
            </a>
            <a href="/question3?genre=рок" class="music-card">
                <img src="/static/рок.jpg" alt="Рок">
                <h2>Рок</h2>
            </a>
            <a href="/question3?genre=хип-хоп" class="music-card">
                <img src="/static/хип хоп.jpg" alt="Хип-хоп">
                <h2>Хип-хоп</h2>
            </a>
        </div>
    </main>
</body>
</html>