<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Опрос</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="topbar">
            <div class="search">🔍 Поиск</div>
            <div class="logo-text">POP MART</div>
            <div class="avatar">👤</div>
        </div>
    </header>
    <main class="food-choice">
        <h1>Какая еда тебе нравится?</h1>
        <div class="food-options">
            <a href="/question4?food=fastfood" class="food-card">
                <img src="/static/Фаст-фуд.jpg" alt="Фаст-фуд">
                <h2>Фаст-фуд</h2>
            </a>
            <a href="/question4?food=sweets" class="food-card">
                <img src="/static/сладости.jpg" alt="Сладости">
                <h2>Сладости</h2>
            </a>
            <a href="/question4?food=sport" class="food-card">
                <img src="/static/Спортивная.jpg" alt="Спортивная">
                <h2>Спортивная</h2>
            </a>
            <a href="/question4?food=soy" class="food-card">
                <img src="/static/Соевое мясо.jpg" alt="Соевое мясо">
                <h2>Соевое мясо</h2>
            </a>
        </div>
    </main>
</body>
</html>